.box1{
      background-color: rgb(222, 135, 200);
    padding: 7% 8% 7% 9%;
    border:solid 5px black;
    width: 30%;
}
.box2
{
    background-color: rgb(165, 42, 159);
    padding: 20% 40% 20% 20%;
    border:solid 5px;
    width: 30%;
}
.box3
{
    background-color: rgb(237, 100, 184);
    padding: 80% 80% 80% 80%;
    border: dotted 5px;
}